#nombre {
    color: blue;
    
    font-size: 20px;
}

#inicio-platzi{
    color: coral;
}

.pregunta{
    color: brown;
    font-size: 20px;
}
.enunciado{
    color: blue;
    font-size: 20px;
}

#horario{
    color: blue;
}

